{% extends "layouts/admin_layout/admin.html"%}
{% block title %} Delete User {% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bordered-danger">
            <div class="card-header bg-danger text-white">
                <h5 class="mb-0">Confirm Delete</h5>
            </div>

            <p>
                Are you sure you want to delete the following symptom?
                <strong>{{ symptom.symptom_name }}</strong>?
            </p>

            <form method="POST" action="{{ url_for('tbl_symptoms.delete', symptom_id = symptom.id)}}">
                {{ form.hidden_tag()}}
                <button type="submit" class="btn btn-danger">
                   Delete
                </button>
                <a href="{{ url_for('tbl_symptoms.index')}}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{%endblock %}