{% extends "layouts/admin_layout/admin.html" %}
{% block title %}Create Rule{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">+ New Rule</h2>
        <a href="{{ url_for('rules.index') }}" class="btn btn-secondary">← Back to Rules</a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            {% include "rule_page/_form.html" %}
        </div>
    </div>

</div>
{% endblock %}
